@{
    ViewData["Title"] = "Hakkımda";
}

<div class="container mt-5">
    <h1 class="text-center">Hakkımda</h1>
    <div class="mt-4">
        <h2>Kısa Özgeçmiş</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget libero vel neque fringilla convallis.
            Donec vel neque in eros scelerisque tristique. Sed cursus libero non lacus sodales, vitae viverra lectus
            pharetra. Cras finibus vitae libero in pretium.</p>

        <h2>Eğitim</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in urna eget odio tristique egestas a vel
            justo. Suspendisse potenti. Donec fringilla turpis ac orci tincidunt, in dignissim lacus egestas.</p>

        <h2>Deneyim</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Proin eu
            neque quis elit volutpat consequat.</p>

        <h2>Yetenekler</h2>
        <ul>
            <li>Lorem ipsum</li>
            <li>Dolor sit amet</li>
            <li>Consectetur adipiscing</li>
        </ul>
        <h2>İletişim Bilgileri</h2>
        <ul>
            <li>Email: <a href="mailto:example@example.com">example@example.com</a></li>
            <li>Telefon: (123) 456-7890</li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/example" target="_blank">linkedin.com/in/example</a></li>
        </ul>

    </div>
</div>
</div>
